<div class="container_big-card">
  <div class="big-card_picture">
    <img src="https://img.ibxk.com.br/2023/08/09/luffy-09114439766096.jpg?ims=328x">
  </div>
  <div class="big-card_titles">
    <a href="#">
      <h1>Luffy fica pixuruca da cabeça e maceta Kaido</h1>
    </a>
  </div>
  <div class="big-card_description">

    <p><a href="#">Luffy perando a opreção tiranica de Kaido sobre Wano se revolta e apois uma batalha ardua e com tres derrotas se levanta pela quarta vez e desperta seu poder maximo gear five. </a></p>

  </div>
</div>