<div class="conteiner_journey">
  <h1>Journey Muguiwara</h1>

  <div class="journey_cove-descripition">
    <img class="journey_cover" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0b407bcc-9bbf-4768-80d9-43eb56f12bd5/dcnped3-3e67c3b5-3978-44cc-aac2-f2917757a257.png/v1/fill/w_1024,h_1122/going_merry_by_agusg_man_dcnped3-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBiNDA3YmNjLTliYmYtNDc2OC04MGQ5LTQzZWI1NmYxMmJkNVwvZGNucGVkMy0zZTY3YzNiNS0zOTc4LTQ0Y2MtYWFjMi1mMjkxNzc1N2EyNTcucG5nIiwiaGVpZ2h0IjoiPD0xMTIyIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uud2F0ZXJtYXJrIl0sIndtayI6eyJwYXRoIjoiXC93bVwvMGI0MDdiY2MtOWJiZi00NzY4LTgwZDktNDNlYjU2ZjEyYmQ1XC9hZ3VzZy1tYW4tNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.Yd3w5bWsyYj7tQ80zAV70n4MtOLQKd13LurfKhAU890" alt="">
    <p>
      Olá, eu sou o Merry. Estou aqui para contar um pouco da jornada dos nossos companheiros de One Piece.
      Para você que está começando agora, aqui está a lista de episódios e de cada arco:<br><br>

      Saga East Blue: 1-61 <br>
      Saga Alabasta: 62-130<br>
      Saga Skypiea: 131-206<br>
      Saga Water 7: 207-325<br>
      Saga Thriller Bark: 326-384<br>
      Saga Guerra de Marineford: 385-516<br>
      Saga Ilha dos Homens-Peixe: 517-574<br>
      Saga da Aliança Pirata: 575-746<br>
      Saga dos Yonkou: 747-889<br>
      Saga de Wano: 890-atual<br><br>
      Nisso, você está completando sua imersão em um universo de Eiichiro Oda, um gênio que criou um universo totalmente imersivo e cheio de tramas complexas e apaixonantes.

      Então, venha e mergulhe com sua tripulação nesse mar atrás do One Piece, através dos olhos da nossa tripulação dos Chapéus de Palha.
    </p>
  </div>
  <hr>
</div>