<div class="container_samll-card">
  <div class="container_smaill-cars-content">
    <div class="small-card_picture">
      <img src="https://i.ytimg.com/vi/OILuCpCyQG0/maxresdefault.jpg">
    </div>
    <div class="small-card_title">
      <a href="">
        <h3>Nami rouba Zues velha maluca dos mares </h3>
      </a>
    </div>

    <!-- <div class="small-card_descripition">
    <p>Durante as batlhas de Wano, Name conhecida como ladra do bando do chapeu de palha espera velha yunkou Big Mon vacila e a roba Zeus nuvem que produzia grandes poderes de ataque para essa velha maluca da Big-Mon</p>
  </div> -->
  </div>
</div>
<div class="small-card_separtion">
  <hr>
</div>